<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css" />
    <title>About</title>
</head>
<body>
    <div class="navbar bg-base-100">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost text-xl">Climate Solutions</a>
    </div>
    <%- include('partials/navbar', {page: '/about'}) %>

    <div class="container mx-auto">
        <div class="hero">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">About myself</h1>
                    <br/>
                    <button class="btn btn-primary"><a href="/">Return</a></button>

                </div>
            </div>
        </div>
    <div class="container mx-auto flex-col">
      <div class="hero bg-base-200 p-6 w-full">
        <div class="hero-content text-center">
          <div class="max-w-md">
                <div class="card-body text-center">
                    <img src="https://images.unsplash.com/photo-1703587820390-1659e52604d1?q=80&w=2023&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="selfimg" class="w-full">
                    <h2 class="card-title">My representation</h2>
                    <p>I chose this image because it resonates with who I am a lot. I love painting, I love nature and being active. Loving nature and being active truly represent my creative side, and I love that this painting depicts my spirit.</p>
                    <div class="card-actions justify-end">
                    </div>
                </div>
            </div>
            <div class="container mx-auto flex-col">
            <div class="hero bg-base-200 p-6 w-full">
            <div class="hero-content text-center">
            <div class="max-w-md">
                <div class="card w-96 bg-base-100 shadow-xl">
                    <div class="card-body text-center">
                        <img src="https://images.unsplash.com/photo-1556644424-2379c2803793?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="selfreflect" class="w-full">
                        <h2 class="card-title">Hobbies</h2>
                        <p>I enjoy going to the gym and traveling. I am currently taking the CPA program because it was the most interesting field I wanted to get into.</p>
                        <div class="card-actions justify-end">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>