<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css" />
    <title>Climate Solutions</title>
</head>
<body>
    <h1>Climate Solutions</h1>
    <div class="navbar bg-base-100">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost text-xl">Climate Solutions</a>
    </div>

    <div class="navbar-center flex"></div>
        <ul class="menu menu-horizontal px-1">
        <li><a class="active" href="/about">About</a></li>
        <li>
            <details>
            <summary>Parent</summary>
            <ul class="p-2 bg-base-100 right-0">
                <li><a href="/solutions/projects?sector=Energy">Energy</a></li>
                <li><a href="/solutions/projects?sector=Transport">Transport</a></li>
                <li><a href="/solutions/projects?sector=Agriculture">Agriculture</a></li>
            </ul>
            </details>
        </li>
        </ul>
    </div>

    <div class="container mx-auto">
        <div class="hero">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">About myself</h1>
                    <br/>
                    <!-- <a class="btn btn-primary mx-auto" href="/solutions/projects">All projects</a> -->
                </div>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-4">
            <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body text-center">
                    <img src="https://images.unsplash.com/photo-1703587820390-1659e52604d1?q=80&w=2023&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="selfimg" class="w-full">
                    <h2 class="card-title">My representation</h2>
                    <p>I chose this image because it resonates with who I am a lot. I love painting, i love nature and being active. Loving the nature and being active truly represents my creative nature and I love that this painting depicts my sprit.</p>
                    <div class="card-actions justify-end">
                    <!-- <a class="btn btn-primary mx-auto" href="/solutions/projects/30">Project 30 Info</a> -->
                    </div>
                </div>
            </div>
                <div class="card w-96 bg-base-100 shadow-xl">
                    <div class="card-body text-center">
                        <img src="https://images.unsplash.com/photo-1556644424-2379c2803793?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="selfreflect" class="w-full">
                        <h2 class="card-title">Hobbies</h2>
                        <p>I enjoy going to the gym and traveling. I am currently taking CPA program as it was the most interesting field I wanted to get into..</p>
                        <div class="card-actions justify-end">
                        <!-- <a class="btn btn-primary mx-auto" href="/solutions/projects/28">Project 28 Info</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>